body {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background.jpg");
  align-items: center;
}
#home-div {
  padding: 20px 20px;
  margin-top: 10%;
  width: 70%;
  height: 70%;
  font-family: "Exo", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

#home-header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  color: purple;
}
#home-links {
  display: flex;
  justify-content: space-evenly;
}
.home-button {
  font-size: 3vw;
  padding: 15px 15px;
  background-color: purple;
}
.home-a {
  color: white;
  text-decoration: none;
}

#login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 20px 15px;
  margin-top: 10%;
  width: 70%;
  height: 70%;
  font-family: "Exo", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}
#login-header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  color: purple;
}
#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-login {
  transition: width 0.4s ease-in-out;
}
#user-login:focus {
  width: 100%;
}
#password-login {
  transition: width 0.4s ease-in-out;
}
#password-login:focus {
  width: 100%;
}
#submit-login {
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 15px 15px;
  background-color: purple;
}
#empty {
  width: 100%;
  height: 50px;
}
#members-div {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 70%;
  height: 80%;
  font-family: "Exo", sans-serif;
}
#members-header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  color: purple;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}
#members-main {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}
#members-main h3 {
  background: silver -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));
  font-size: 21px;
  font-display: bold;
  border:purple 5px solid;
  padding:5px 5px;
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-background-size: 4rem 100%; /*50px*/
}
#members-main button {
    width:40%;
    height:100%;
    background-color:purple;
    margin-bottom:1vh;
}
#members-main a {
    color:white;
    font-size:15px;
    text-decoration:none;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top; /*50px*/
  }

  70% {
    background-position: 12.5rem top; /*200px*/
  }

  100% {
    background-position: 12.5rem top; /*200px*/
  }
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
