${header}
<div id="login-div">
  <div id="login-header">
    <h1>${title}</h1>
  </div>
  <div id="login-form">
    <form method="POST">
      <label>
        Username:
        <input id="user-login" name="username" type="text" />
      </label>
      <br>
      <br>
      <br>
      <label>
        Password:
        <input id="password-login"name="password" type="password" />
        <br>
      </label>
      <input id="submit-login" type="submit" value="do it!" />
    </form>
  </div>
</div>
${footer}
